/* Nav Bar */
.nav_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.3rem 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    padding: 0px 1.2rem 0px 1.2rem;
    letter-spacing: 1.1px;
}


.nav_logo {
    width: 15rem;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_list_item {
    color: black;
    list-style: none;
    margin: 0 15px;
}

.nav_list_item a {
    text-decoration: none;
    color: black;
}

/* /////////////////////////////// */

/* Hero section */

.hero_section {
    background-image: url("./../../../public/images/Image1.png");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.down_arrow {
    width: 6rem;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 70%);
    font-size: 3rem;
    color: black;
    cursor: pointer;
}


/* ///////////////////////////////////// */

/* Announcement Section */

.announcement_section {
    background-color: #167f87;
    color: aliceblue;
    padding: 9rem 10rem;
    padding-bottom: 15rem;
}

/* New Arrival Section */
.new_arrival_section {
    padding: 7rem 9rem;
}

/* Features Section */
.features_section {
    background-color: #106a71;
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    gap: 2rem;
}

.features_left_img {
    height: 100vh;
}

.features_left {
    display: flex;
    justify-content: center;
}

.features_right {
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
}

.card_container {
    display: flex;
    justify-content: center;
    gap: 13rem;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7rem;
}

@media screen and (max-width: 68.75em) {
    .features_right {
        width: 100%;
        padding: 0rem 0rem;
    }

    .features_left_img {
        width: 100vw;
    }
}

@media screen and (max-width: 62.5em) {
    .nav_bar {
        justify-content: center;
        padding-bottom: 1.5rem;
        font-size: 2rem;
    }
}

@media screen and (max-width: 31.25em) {

    .features_left_img {
        width: 150vw;
    }

    .features_right {
        width: 100%;
        padding: 3rem 0rem;
    }
}