.announcement_card{
    position: relative;
    width: 23rem;
    height: 25rem;
    font-size: 1.3rem;
}
.announcement_card_img{
    width: 23rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 3px;
}
.announcement_card_title{
    position: absolute;
    bottom: 0;
    font-size: 1.7rem;
    font-weight: bold;
    margin: 1rem 1rem;
}


@media screen and (max-width: 31.25em) {
    .announcement_card{
        width: 27rem;
        height: 32rem;
        font-size: 1.5rem;
    }
    .announcement_card_img{
        width: 27rem;
        height: 32rem;
    }

}